* {
  background: linear-gradient (to right, #073395, #090979, #073395, #00d4ff);
  text-align: center; 
}

h2 {
  color: rgb(118, 121, 61);
}

h1 {
  color: darkblue;
}

#main {
  background: darkblue;
}

#explore {
  color: aquamarine;
}

#container1 {
  color: brown;
}
